<footer class="footer">
  <p class="footer__credits">
    Illustration by
    <a href="http://ayshaillustrates.com">Aysha Awwad</a>
    &mdash;
    <a href="https://github.com/colinmeinke/kampot"
       class="footer__credits__link"><!--
      -->Kampot<!--
    --></a>
    theme by
    <a href="http://colinmeinke.com"
       class="footer__credits__link"><!--
      -->Colin Meinke<!--
    --></a>
  </a>
</footer>
