<div class="header__nav">
  <nav role="navigation"
       class="header__nav-list">
    <a href="/about"
       class="header__nav-list__item">
      <span class="header__nav-list__item__title">
        About
      </span>
    </a>
    <a href="/tag/food"
       class="header__nav-list__item">
      <span class="header__nav-list__item__title">
        Food
      </span>
    </a>
    <a href="https://twitter.com/peekingduckblog"
       class="header__nav-list__item">
      <i class="header__nav-list__item__icon">
        {{> icon/twitter}}
      </i>
      <span class="header__nav-list__item__title
                   header__nav-list__item__title--hidden">
        Twitter
      </span>
    </a>
    <a href="http://instagram.com/yasmineawwad"
       class="header__nav-list__item">
      <i class="header__nav-list__item__icon">
        {{> icon/instagram}}
      </i>
      <span class="header__nav-list__item__title
                   header__nav-list__item__title--hidden">
        Instagram
      </span>
    </a>
    <a href="https://www.pinterest.com/peekingduckblog"
       class="header__nav-list__item">
      <i class="header__nav-list__item__icon">
        {{> icon/pintrest}}
      </i>
      <span class="header__nav-list__item__title
                   header__nav-list__item__title--hidden">
        Pintrest
      </span>
    </a>
  </nav>
</div>
