{{#if tags}}
  <section class="tags {{{block "tags_class"}}}">
  <h3 class="tags__title">
    Posted in:
  </h3>
  <ul class="tags__list">
    {{#foreach tags}}
    <li class="tags__list__item"><!--
      --><a href="{{url}}"
         class="tags__list__item__link"><!--
        -->{{name}}<!--
      --></a><!--
    --></li>
    {{/foreach}}
  </ul>
{{/if}}
