html {
  color: hsla( 155, 15%, 27%, 1 );
  font-family: "Antic Slab", Serif;
  font-size: 106.25%;
  line-height: 1.5;
}

body,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote,
pre,
hr {
  margin: 0;
}

body {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

a,
a:active {
  color: hsla( 210, 70%, 60%, 1 );
  text-decoration: none;
}

a:hover,
a:focus {
  color: hsla( 210, 70%, 60%, 1 );
  text-decoration: underline;
}

code {
  color: hsla( 155, 95%, 95%, 1 );
  font-size: 17px;
}

pre,
p > code,
li > code {
  background: hsla( 155, 15%, 20%, 1 );
  border-radius: 0.176rem;
}

pre {
  padding: 0.588rem 1.176rem;
  border-top: 0.235rem solid hsla( 155, 15%, 15%, 1 );
}

p > code,
li > code {
  padding: 0.176rem 0.294rem;
}

hr {
  width: 100%;
  height: 0.059rem;
  border: none;
  background-color: hsla( 155, 20%, 95%, 1 );
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 3.824rem;
  border-bottom: 0.294rem solid hsla( 155, 20%, 95%, 1 );
  padding: 0.588rem 1.176rem;
  background-color: hsla( 155, 15%, 99%, 1 );
}

.header__branding,
.post__header,
.page__title,
.pagination,
.footer__credits {
  text-align: center;
}

.header__branding {
  display: inline-block;
  text-decoration: none;
}

.header__branding__logo {
  box-sizing: border-box;
  width: 2.353rem;
  height: 2.353rem;
  border-radius: 1.177rem;
  display: block;
  border: 0.059rem solid hsla( 155, 15%, 60%, 1 );
}

.header__branding:hover .header__branding__logo,
.header__branding:focus .header__branding__logo {
  border-color: hsla( 155, 25%, 45%, 1 );
}

.header__branding__title {
  margin-top: 0.294rem;
  display: none;
  color: hsla( 155, 15%, 27%, 1 );
}

.header__branding:hover .header__branding__title,
.header__branding:focus .header__branding__title {
  color: hsla( 210, 70%, 60%, 1 );
}

.header__nav {
  height: 2.353rem;
  float: right;
}

.header__nav-list {
  height: 1.5rem;
  margin-top: 0.427rem;
  display: block;
}

.header__nav-list:after {
  content: "";
  clear: both;
}

.header__nav-list__item {
  height: 1.5rem;
  color: hsla( 155, 15%, 27%, 1 );
  text-transform: uppercase;
  line-height: 1.5rem;
  float: left;
}

.header__nav-list__item:not(:first-of-type) {
  margin-left: 0.588rem;
}

.header__nav-list__item__icon {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
}

.header__nav-list__item__icon .icon {
  fill: hsla( 155, 50%, 62%, 1 );
}

.header__nav-list__item:hover .header__nav-list__item__icon .icon,
.header__nav-list__item:focus .header__nav-list__item__icon .icon {
  fill: hsla( 210, 70%, 60%, 1 );
}

.header__nav-list__item__icon + .header__nav-list__item__title:not(.header__nav-list__item__title--hidden) {
  padding-left: 0.294rem;
}

.header__nav-list__item__title--hidden {
  width: 0.059rem;
  display: block;
  text-indent: 100%;
  overflow: hidden;
}

.post,
.page,
.pagination,
.footer__credits,
#disqus_thread {
  max-width: 40rem;
  margin: 0 auto;
}

.post,
.page {
  padding: 2.353rem 1.176rem;
}

.post img,
.page img {
  width: 100%;
  display: block;
}

.post__video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.post__video::after {
  content: '';
  padding-bottom: 56.25%;
}

.post iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post h1,
.post h2:not(.post__header__title),
.post h3:not(.tags__title),
.page h1,
.page h2:not(.page__title),
.page h3,
.post h4,
.post h5,
.post h6,
.page h4,
.page h5,
.page h6,
.post__content__cover-image,
.post__content p,
.page__content p,
.post__video,
.post ul,
.post ol,
.post dl,
.page ul,
.page ol,
.page dl,
.post pre,
.page pre,
.page hr,
.post hr,
.page blockquote,
.post blockquote {
  margin-top: 1.765rem;
}

.post h1,
.post h2:not(.post__header__title),
.post h3:not(.tags__title),
.page h1,
.page h2:not(.page__title),
.page h3 {
  font-size: 1.294rem;
  font-weight: bold;
}

.post h4,
.post h5,
.post h6,
.page h4,
.page h5,
.page h6 {
  font-weight: bold;
}

.page blockquote :first-child,
.post blockquote :first-child {
  margin-top: 0;
}

.page blockquote,
.post blockquote {
  margin-left: 0.882rem;
  background: linear-gradient(to right, hsla( 155, 20%, 95%, 1 ) 0.882rem, hsla( 155, 20%, 95%, 0 ) 0.882rem, hsla( 155, 20%, 95%, 0 ));
  padding: 0.294rem 0 0.294rem 2.353rem;
  color: hsla( 155, 5%, 55%, 1 );
  font-style: italic;
}

.post__header__title,
.page__title {
  font-size: 1.765rem;
  text-transform: uppercase;
}

.post__header__title__link {
  color: hsla( 155, 15%, 27%, 1 );
}

.post__header__date {
  display: block;
  margin-top: 0.294rem;
  color: hsla( 155, 5%, 55%, 1 );
  text-transform: uppercase;
}

.post__content__cover-image {
  display: block;
}

.tags {
  margin-top: 0.294rem;
}

.tags__title {
  display: inline;
  color: hsla( 155, 5%, 65%, 1 );
}

.tags__list {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.tags__list__item {
  display: inline;
}

.tags__list__item:not(:last-of-type)::after {
  content: ",";
}

.pagination {
  margin-bottom: 2.353rem;
}

.pagination__button {
  box-sizing: border-box;
  border-top: 0.235rem solid hsla( 155, 5%, 95%, 1 );
  border-bottom: 0.235rem solid hsla( 155, 10%, 87%, 1 );
  padding: 0.588rem 1.176rem;
  display: inline-block;
  background: hsla( 155, 5%, 95%, 1 );
}

.pagination__button:not(:first-of-type) {
  margin-left: 0.588rem;
}

.pagination__button:hover,
.pagination__button:focus {
  border-bottom-color: hsla( 155, 10%, 90%, 1 );
  border-top-color: hsla( 155, 10%, 88%, 1 );
  background: hsla( 155, 10%, 90%, 1 );
  color: hsla( 210, 100%, 55%, 1 );
}

.pagination__button--next {
  border-top-color: hsla( 210, 70%, 60%, 1 );
  border-bottom-color: hsla( 210, 70%, 50%, 1 );
  background: hsla( 210, 70%, 60%, 1 );
  color: hsla( 210, 0%, 100%, 1 );
}

.pagination__button--next:hover,
.pagination__button--next:focus {
  border-top-color: hsla( 210, 70%, 45%, 1 );
  border-bottom-color: hsla( 210, 70%, 50%, 1 );
  background: hsla( 210, 70%, 50%, 1 );
  color: hsla( 210, 0%, 100%, 1 );
}

.footer {
  padding: 2.359rem 1.176rem;
}

#disqus_thread {
  margin-top: 3.523rem;
  padding-left: 1.176rem;
  padding-right: 1.176rem;
}

@media only screen and (min-width: 27.059em) {
  .header__nav-list__item:not(:first-of-type) {
    margin-left: 1.176rem;
  }
}

@media only screen and (min-width: 38.824em) {
  .header {
    padding-right: 2.353rem;
    padding-left: 2.353rem;
  }

  .scrolled {
    padding-top: 7.764rem;
  }

  body:not(.scrolled) .header {
    height: 11.588rem;
    padding-top: 1.175rem;
    padding-bottom: 1.175rem;
  }

  .scrolled .header {
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0 0 0.2rem 0.1rem hsla( 155, 20%, 20%, 0.15 );
  }

  body:not(.scrolled) .header__branding__logo {
    width: 7.059rem;
    height: 7.059rem;
    border-radius: 3.529rem;
  }

  body:not(.scrolled) .header__branding__title {
    display: block;
  }

  .scrolled [role="main"] {
    margin-top: 3.824rem;
  }

  body:not(.scrolled) .header__nav {
    height: 8.941rem;
  }

  body:not(.scrolled) .header__nav-list {
    margin-top: 3.721rem;
  }

  .post,
  .page {
    padding-top: 3.529rem;
    padding-bottom: 3.529rem;
  }

  .pagination {
    margin-bottom: 3.529rem;
  }

  .footer {
    padding-top: 3.529rem;
    padding-bottom: 3.529rem;
  }
}
