<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 26 26"
     class="icon icon--instagram">
  <title>Instagram icon</title>

  <path d="M 4,1 L 22,1 C 24,1 25,2, 25,4 L 25,22
           C 25,24 24,25 22,25 L 4,25 C 2,25 1,24 1,22
           L 1,4 C 1,2 2,1 4,1
           M 19,3 L 23,3 L 23,7 L 19,7
           M 6,13 a 7,7 0 1,0 14,0 a 7,7 0 1,0 -14,0
           Z"
        fill-rule="evenodd" />
</svg>
