<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 26 26"
     class="icon icon--pintrest">
  <title>Pintrest icon</title>
  
  <path d="M 13.1676612,0
           C 5.74338017,0 2,5.07910828 2,9.3146242
           C 2,11.8791847 3.01754545,14.1607261
           5.19998347,15.0109427
           C 5.55785124,15.1505478 5.87840496,15.0157452
           5.98219008,14.6376688
           C 6.05438843,14.3760127 6.22516529,13.7159108
           6.30135537,13.4410064
           C 6.40600826,13.0670701 6.36539669,12.9359108
           6.07660331,12.61
           C 5.44729752,11.901707 5.04517355,10.9847516
           5.04517355,9.68591083
           C 5.04517355,5.91773248 7.99975207,2.54435669
           12.7388099,2.54435669
           C 16.9351653,2.54435669 19.2406529,4.99100637
           19.2406529,8.25856051
           C 19.2406529,12.5578344 17.2466942,16.1864076
           14.286562,16.1864076
           C 12.6518595,16.1864076 11.42813223,14.8963439
           11.82036364,13.3141529
           C 12.29,11.4252611 13.1997686,9.38666242
           13.1997686,8.02323567
           C 13.1997686,6.80272611 12.5131901,5.78475159
           11.09230579,5.78475159
           C 9.42115702,5.78475159 8.07871901,7.43434395
           8.07871901,9.64417834
           C 8.07871901,11.0516561 8.57716529,12.0035541
           8.57716529,12.0035541
           C 8.57716529,12.0035541 6.86696694,18.9177325
           6.56723967,20.1286369
           C 5.97021488,22.5401783 6.4775124,25.4963949
           6.52038017,25.7949809
           C 6.54554545,25.9718471 6.78383471,26.0139108
           6.89178512,25.8802675
           C 7.04590083,25.6883312 9.03621488,23.3436943
           9.71290083,21.000879
           C 9.90433058,20.337465 10.81201653,16.9023185
           10.81201653,16.9023185
           C 11.35489256,17.8904841 12.9416942,18.7609045
           14.629157,18.7609045
           C 19.6524959,18.7609045 23.0605702,14.3910828
           23.0605702,8.54191083
           C 23.0605702,4.11909554 19.1346116,0
           13.1676612,0
           L 13.1676612,0
           Z" />
</svg>
